.text-area:disabled {
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #000000;
    -fx-opacity: 1.0;
    -fx-background-color: white;
}

.text-area .scroll-pane:disabled {
  -fx-opacity: 1.0;
}

#board {

   -fx-background-color: black;

}

.space {
    -fx-fill: #8a2be2;
}

.space:hover {
    -fx-fill: #f5f5dc;
}

.space.p1 {

}

.space.p2 {

}

.space.higlight {

}

.space.empty {

}