.text-area:disabled {
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #000000;
    -fx-opacity: 1.0;
    -fx-background-color: #fadbc8;
}

.text-area .scroll-pane:disabled {
  -fx-opacity: 1.0;
}

#board {

   -fx-background-color: #4c4c4c;

}

.space {

}

.space:hover {
    -fx-fill: #b9a2ed;
}

.space.p1 {
    -fx-fill: #f57db8;
}

.space.p2 {
    -fx-fill: #29d8f8;
}

.space.highlight.p1 {
    -fx-fill: #f2cade;
}

.space.highlight.p2 {
    -fx-fill: #caeef4;
}

.space.empty {

    -fx-fill: #dad4d4;
}